<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %} {%load compress%} {% compress css %}
    <link
      type="text/x-scss"
      href="{% static 'theme.scss' %}"
      rel="stylesheet"
      media="screen"
    />
    {% endcompress %}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{%static 'favicon/apple-touch-icon.png'%}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{%static 'favicon/favicon-32x32.png'%}"
    />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="{%static 'favicon/site.webmanifest'%}" />
    <script
      src="https://kit.fontawesome.com/3c9f048f7d.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/jquery-3.6.1.min.js' %}"
    ></script>
    <title>
      {% block title %}{{ section.title|default:"Dream TODO" }}{% endblock %}
    </title>
  </head>
  <body
    style="display: flex; min-height: 100vh; flex-direction: column"
    class=""
  >
    {% include 'components/navbar.html' %}
    <main style="flex-grow: 1">{% block content %} {% endblock %}</main>
    {% include 'components/footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% block script %}{% endblock %}
    <script type="text/javascript">
      $(function () {
        const body = $("body");
        let theme = localStorage.getItem("theme");
        const toggleTheme = $("#toggle");
        if (!theme) {
          localStorage.setItem("theme", "light");
          theme = "light";
        }
        if (theme) {
          body.addClass(theme);
        }

        if (theme === "dark") {
          toggleTheme.find($(".fa-regular")).toggleClass("fa-sun fa-moon");
        }
        toggleTheme.click(() => {
          body.toggleClass("light dark");
          theme = theme === "light" ? "dark" : "light";
          localStorage.setItem("theme", theme);
          $(this).find($(".fa-regular")).toggleClass("fa-sun fa-moon");
        });
      });
    </script>
  </body>
</html>
