{% extends 'base.html' %} {% block content %}
<div class="blurred-box container" style="max-width: 600px; min-height: 400px">
  <div class="container todos-cotainer py-2">
    {% include 'components/todoInput.html' %}
    <div id="todos-container" class="d-flex flex-column gap-5 pt-5 pb-2"></div>
  </div>
  <button id="export-test">clickme</button>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
  $(function () {
    let mockList = [
      {
        description: "descriptionTXT1",
        checked: "true",
      },
      {
        description: "descriptionTXT",
        checked: "true",
      },
      {
        description: "descriptionTXT",
        checked: "true",
      },
      {
        description: "descriptionTXTlast",
        checked: "true",
      },
    ];
    const todos_container = $("#todos-container");
    const add_todo = $("#add-todo");
    let listItems = [];
    let dragStartIndex;

    function createList(list) {
      listItems = [];
      todos_container.html("");
      [...list].map((e, i) => {
        const listItem = document.createElement("div");
        listItem.setAttribute("data-index", i);
        listItem.classList.add("index-container");

        listItem.innerHTML = `<div
        style="padding: 0.25rem; max-width: 400px; margin: 0 auto"
        class="d-flex align-items-center gap-3 draggable" draggable="true"
      >
        <div style="width: 3rem">
          <div style="cursor: pointer" class="todo-bars">
            <span style="font-size: calc(1.25rem + 1.5vw)">
              <span style="color: rgb(255 255 255 / 50%)">
                <i class="fa-solid fa-bars"></i>
              </span>
            </span>
          </div>
        </div>
        <div
          class="w-100 d-flex align-items-center"
          style="
            align-self: stretch;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          "
        >
          <textarea
            class="form-control my-todo-input todo-input"
            style="max-height: 100px"
          >${e.description}</textarea>
        </div>
        <div class="ms-auto d-flex align-items-center gap-3">
          <div>
            <input
              class="form-check-input todo-checkbox"
              ${e.checked === "true" && "checked"}
              type="checkbox"
              value=""
              style="
                width: calc(1rem + 0.75vw);
                height: calc(1rem + 0.75vw);
                background-color: rgb(255 255 255 / 50%);
              "
            />
          </div>
          <div style="cursor: pointer" class="todo-trash">
            <span style="font-size: calc(1.25rem + 1.5vw)">
              <span style="color: rgb(255 255 255 / 50%)">
                <i class="fa-solid fa-trash"></i>
              </span>
            </span>
          </div>
        </div>
      </div>`;

        listItems.push(listItem);
        todos_container.append(listItem);
      });
      addEventListeners();
    }

    function dragStart() {
      dragStartIndex =
        +this.closest(".index-container").getAttribute("data-index");
    }
    function dragEnter() {
      this.classList.add("over");
    }
    function dragLeave() {
      this.classList.remove("over");
    }
    function dragOver(e) {
      this.classList.add("over");
      e.preventDefault();
    }
    function dragDrop() {
      const dragEndIndex = +this.getAttribute("data-index");
      swapItems(dragStartIndex, dragEndIndex);

      this.classList.remove("over");
    }

    var mouseTimer;
    var draggin;
    var pressStartIndex;
    var selectedItem;
    var endItem;
    function touchStart(e) {
      e.preventDefault();
      touchCancel();
      mouseTimer = window.setTimeout(() => touchStartDrag(e), 500);
    }
    // TODO fix buggy drag on mobile when vh > 100
    function touchMove(e) {
      e.preventDefault(); // prevend scroll
      if (!draggin === true || pressStartIndex < 0 || !selectedItem) {
        return touchCancel();
      }
      selectedItem.style.position = "fixed";
      const x = e.changedTouches[0].pageX;
      const y = e.changedTouches[0].pageY;
      selectedItem.style.top = y + "px";
      selectedItem.style.left = x + "px";
      // end === every elements on touch end
      const end = document.elementsFromPoint(x, y);
      const dropzone = end.filter((i) => i.className === "index-container");
      if (dropzone.length > 1) {
        endItem = dropzone[1];
      } else endItem = undefined;
    }
    function touchEnd(e) {
      if (endItem && selectedItem) {
        let startIndex = selectedItem.getAttribute("data-index");
        let endIndex = endItem.getAttribute("data-index");
        swapItems(startIndex, endIndex);
      }
      touchCancel();
    }
    function touchStartDrag(e) {
      draggin = true;
      const initialTarget = e.target.closest(".index-container");
      const initialIndex = initialTarget.getAttribute("data-index");
      pressStartIndex = initialIndex;
      selectedItem = initialTarget;
      initialTarget.style.transform = "scale(1.2)";
    }
    function touchCancel() {
      if (selectedItem) {
        selectedItem.style.transform = "scale(1)";
        selectedItem.style.position = "initial";
      }
      if (mouseTimer) window.clearTimeout(mouseTimer);
      draggin = false;
      endItem = undefined;
      selectedItem = undefined;
      pressStartIndex = undefined;
    }

    function swapItems(fromIndex, toIndex) {
      const itemOne = listItems[fromIndex].querySelector(".draggable");
      const itemTwo = listItems[toIndex].querySelector(".draggable");

      listItems[fromIndex].appendChild(itemTwo);
      listItems[toIndex].appendChild(itemOne);
    }

    function processResult(nodeList) {
      return nodeList.map((e) => {
        return {
          description: e.querySelector(".todo-input").value,
          checked: e.querySelector(".todo-checkbox").checked,
        };
      });
    }

    $("#export-test").click(() => {
      const toPost = JSON.stringify(processResult(listItems));
      // const toPost = JSON.stringify(mockList)
      $.ajax({
        type: "POST",
        url: "{% url 'postTodos' %}",
        data: { data: toPost, csrfmiddlewaretoken: "{{ csrf_token }}" },
        success: function (response) {
          console.log(response);
        },
        error: function (response) {
          console.log(response);
        },
      });
    });
    $("#add-todo").click(() => {
      const value = $("#add-todo-input").val();
      const newTodoData = {
        description: value,
        checked: "false",
      };
      if (value.length < 1) return;
      const currentList = processResult(listItems);
      const newList = [newTodoData, ...currentList];
      createList(newList);
      $("#add-todo-input").val("");
    });

    $("#todos-container").on("click", ".todo-trash", (e) => {
      const index = e.target
        .closest(".index-container")
        .getAttribute("data-index");

      const newList = processResult(listItems);
      newList.splice(index, 1);
      createList(newList);
    });

    function addEventListeners() {
      const draggables = document.querySelectorAll(".draggable");
      const draggaListItem = document.querySelectorAll(
        "#todos-container .index-container"
      );
      const touchListItems = document.querySelectorAll(
        "#todos-container .index-container .todo-bars"
      );

      draggables.forEach((draggable) => {
        draggable.addEventListener("dragstart", dragStart);
      });
      draggaListItem.forEach((item) => {
        item.addEventListener("dragover", dragOver);
        item.addEventListener("drop", dragDrop);
        item.addEventListener("dragenter", dragEnter);
        item.addEventListener("dragleave", dragLeave);
      });
      touchListItems.forEach((icon) => {
        icon.addEventListener("touchstart", touchStart);
        icon.addEventListener("touchmove", touchMove);
        icon.addEventListener("touchend", touchEnd);
      });
    }

    // Initial LOAD
    $.ajax({
      type: "GET",
      url: "{% url 'getTodos' %}",
      success: function (response) {
        const result = JSON.parse(response["todos"][0]["todos"]);
        createList(result);
      },
      error: function (response) {
        console.log(response);
      },
    });
  });
</script>
{% endblock %}
