{% extends 'base.html' %} {% block content %}
<div class="blurred-box container" style="max-width: 600px; min-height: 400px">
  <div id="loader" class="hidden">
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>
  <div class="container todos-cotainer py-2">
    {% include 'components/todoInput.html' %}
    <div id="todos-container" class="d-flex flex-column gap-5 pt-5 pb-2"></div>
  </div>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
  $(function () {
    let mockList = [
      {
        description: "descriptionTXT1",
        checked: "true",
      },
      {
        description: "descriptionTXT",
        checked: "true",
      },
      {
        description: "descriptionTXT",
        checked: "true",
      },
      {
        description: "descriptionTXTlast",
        checked: "true",
      },
    ];
    const todos_container = $("#todos-container");
    const add_todo = $("#add-todo");
    let listItems = [];
    let dragStartIndex;

    function createList(list) {
      listItems = [];
      todos_container.html("");
      [...list].map((e, i) => {
        const listItem = document.createElement("div");
        listItem.setAttribute("data-index", i);
        listItem.classList.add("index-container");

        listItem.innerHTML = `<div
        style="padding: 0.25rem; max-width: 400px; margin: 0 auto"
        class="d-flex align-items-center gap-3 draggable" draggable="true"
      >
        <div style="width: 3rem">
          <div style="cursor: pointer" class="todo-bars">
            <span style="font-size: calc(1.25rem + 1.5vw)">
              <span style="color: rgb(255 255 255 / 50%)">
                <i class="fa-solid fa-bars"></i>
              </span>
            </span>
          </div>
        </div>
        <div
          class="w-100 d-flex align-items-center"
          style="
            align-self: stretch;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          "
        >
          <textarea
            class="form-control my-todo-input todo-input"
            style="max-height: 100px"
          >${e.description}</textarea>
        </div>
        <div class="ms-auto d-flex align-items-center gap-3">
          <div>
            <input
              class="form-check-input todo-checkbox"
              ${e.checked === "true" && "checked"}
              type="checkbox"
              value=""
              style="
                width: calc(1rem + 0.75vw);
                height: calc(1rem + 0.75vw);
                background-color: rgb(255 255 255 / 50%);
              "
            />
          </div>
          <div style="cursor: pointer" class="todo-trash">
            <span style="font-size: calc(1.25rem + 1.5vw)">
              <span style="color: rgb(255 255 255 / 50%)">
                <i class="fa-solid fa-trash"></i>
              </span>
            </span>
          </div>
        </div>
      </div>`;

        listItems.push(listItem);
        todos_container.append(listItem);
      });
      addEventListeners();
    }

    function dragStart() {
      dragStartIndex =
        +this.closest(".index-container").getAttribute("data-index");
    }
    function dragEnter() {
      this.classList.add("over");
    }
    function dragLeave() {
      this.classList.remove("over");
    }
    function dragOver(e) {
      this.classList.add("over");
      e.preventDefault();
    }
    function dragDrop() {
      const dragEndIndex = +this.getAttribute("data-index");
      swapItems(dragStartIndex, dragEndIndex);

      this.classList.remove("over");
    }

    let mouseTimer;
    let draggin;
    let pressStartIndex;
    let toDisplayItem;
    let endItem;
    function touchStart(e) {
      e.preventDefault();
      touchCancel();
      mouseTimer = window.setTimeout(() => touchStartDrag(e), 500);
    }
    function touchMove(e) {
      if (event.cancelable) event.preventDefault();
      if (!draggin === true || pressStartIndex < 0 || !toDisplayItem) {
        return touchCancel();
      }
      toDisplayItem.style.position = "fixed";
      let x = e.changedTouches[0].clientX;
      let y = e.changedTouches[0].clientY;
      toDisplayItem.style.top = y + "px";
      toDisplayItem.style.left = x + "px";
      const touchedElements = document.elementsFromPoint(x, y);
      const dropzoneItem = touchedElements.filter(
        (i) => i.className === "index-container"
      );
      if (dropzoneItem.length > 1) {
        endItem = dropzoneItem[1];
      } else endItem = undefined;
    }
    function touchEnd(e) {
      if (endItem && toDisplayItem) {
        let startIndex = pressStartIndex;
        let endIndex = endItem.getAttribute("data-index");
        swapItems(startIndex, endIndex);
      }
      touchCancel();
    }
    function touchStartDrag(e) {
      const initialTarget = e.target.closest(".index-container");
      const initialIndex = initialTarget.getAttribute("data-index");
      pressStartIndex = initialIndex;
      draggin = true;

      const dupe = $(initialTarget).clone();
      dupe.css("position", "absolute");
      dupe.css("transform", "scale(1.2)");
      toDisplayItem = dupe.get(0);
      $(initialTarget).append(dupe);
    }
    function touchCancel() {
      if (mouseTimer) window.clearTimeout(mouseTimer);
      draggin = false;
      endItem = undefined;
      if (toDisplayItem) toDisplayItem.remove();
      toDisplayItem = undefined;
      pressStartIndex = undefined;
    }

    function swapItems(fromIndex, toIndex) {
      const itemOne = listItems[fromIndex].querySelector(".draggable");
      const itemTwo = listItems[toIndex].querySelector(".draggable");

      listItems[fromIndex].appendChild(itemTwo);
      listItems[toIndex].appendChild(itemOne);
    }

    function processResult(nodeList) {
      return nodeList.map((e) => {
        return {
          description: e.querySelector(".todo-input").value,
          checked: e.querySelector(".todo-checkbox").checked,
        };
      });
    }

    $("#add-todo").click(() => {
      const value = $("#add-todo-input").val();
      const newTodoData = {
        description: value,
        checked: "false",
      };
      if (value.length < 1) return;
      const currentList = processResult(listItems);
      const newList = [newTodoData, ...currentList];
      createList(newList);
      $("#add-todo-input").val("");
    });

    $("#todos-container").on("click", ".todo-trash", (e) => {
      const index = e.target
        .closest(".index-container")
        .getAttribute("data-index");

      const newList = processResult(listItems);
      newList.splice(index, 1);
      createList(newList);
    });
    //
    $(document).on(
      "click drag touchmove keydown",
      debounce(() => {
        syncData();
      }, 1500)
    );
    // TODO fix touch not working on mobile
    function debounce(fn, delay) {
      let timeoutID;
      return function (...args) {
        if (timeoutID) clearTimeout(timeoutID);
        timeoutID = setTimeout(() => {
          fn(...args);
        }, delay);
      };
    }
    let referenceList;
    function syncData() {
      const toPost = JSON.stringify(processResult(listItems));
      if (toPost === referenceList) return;
      referenceList = toPost;
      // const toPost = JSON.stringify(mockList)
      $("#loader").removeClass("hidden");
      $.ajax({
        url: "{% url 'postTodos' %}",
        type: "POST",
        data: { data: toPost, csrfmiddlewaretoken: "{{ csrf_token }}" },
        success: function (response) {
          localSet("");
        },
        error: function (response) {
          localSet(toPost);
        },
        complete: (response) => {
          $("#loader").addClass("hidden");
        },
      });
    }
    function localSet(stringObj) {
      localStorage.setItem("todos", stringObj);
    }
    function localGet() {
      return localStorage.getItem("todos");
    }
    //
    function addEventListeners() {
      const draggables = document.querySelectorAll(".draggable");
      const draggaListItem = document.querySelectorAll(
        "#todos-container .index-container"
      );
      const touchListItems = document.querySelectorAll(
        "#todos-container .index-container .todo-bars"
      );

      draggables.forEach((draggable) => {
        draggable.addEventListener("dragstart", dragStart);
      });
      draggaListItem.forEach((item) => {
        item.addEventListener("dragover", dragOver);
        item.addEventListener("drop", dragDrop);
        item.addEventListener("dragenter", dragEnter);
        item.addEventListener("dragleave", dragLeave);
      });
      touchListItems.forEach((icon) => {
        icon.addEventListener("touchstart", touchStart);
        icon.addEventListener("touchmove", touchMove);
        icon.addEventListener("touchend", touchEnd);
      });
    }

    // Initial LOAD
    $.ajax({
      type: "GET",
      url: "{% url 'getTodos' %}",
      success: function (response) {
        let result = JSON.parse(response["todos"][0]["todos"]);
        const local = localGet("todos");
        if (local) {
          result = [...JSON.parse(local), ...result];
          localSet("");
        }
        createList(result);
      },
      error: function (response) {
        const result = localGet("todos");
        if (result) createList(JSON.parse(result));
      },
    });
  });
</script>
{% endblock %}
