<nav
  style="display: flex; justify-content: space-between; align-items: baseline"
  class="container py-4"
>
  <a href="/" class="text-decoration-none">
    <p class="hero-msg fs-1 fw-bold" style="margin: 0">Dream TODO</p>
  </a>
  <div style="display: flex; gap: 1rem">
    <div tabindex="1" class="has-dropdown">
      <span style="font-size: calc(2rem + 1.5vw)" id="loggin">
        <span style="color: rgb(255 255 255 / 50%)">
          <i class="fa-regular fa-user"></i>
        </span>
      </span>
      <div id="dropdown">
        <div class="blurred-box">
          {% if not user.is_authenticated %}
          <a href="{% url 'login' %}" class="text-decoration-none">
            <p class="text fs-5 fw-bold py-2 px-4 m-0 my-dropdown-item">
              Login
            </p>
          </a>
          <a href="{% url 'register' %}" class="text-decoration-none">
            <p class="text fs-5 fw-bold py-2 px-4 m-0 my-dropdown-item">
              Register
            </p>
          </a>
          {% else %}
          <a href="{% url 'logout' %}" class="text-decoration-none">
            <p class="text fs-5 fw-bold py-2 px-4 m-0 my-dropdown-item">
              Logout
            </p>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <span style="font-size: calc(2rem + 1.5vw)" id="toggle">
      <span style="color: rgb(255 255 255 / 50%)">
        <i id="toggle-icon" class="fa-regular fa-sun"></i>
      </span>
    </span>
  </div>
</nav>
