<nav
  style="
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: baseline;
  "
  class="container"
>
  <p class="hero-msg fs-1 fw-bold" style="margin: 0">Dream TODO</p>
  <div style="display: flex; gap: 1rem">
    <div tabindex="1" class="has-dropdown">
      <span style="font-size: calc(2rem + 1.5vw)" id="loggin">
        <span style="color: rgb(255 255 255 / 50%)">
          <i class="fa-regular fa-user"></i>
        </span>
      </span>
      <div id="dropdown">
        <div class="blurred-box">
          {% comment %} TODO {% endcomment %}
          {% if not logged %}
          <p class="text fs-5 fw-bold py-2 px-4 m-0 my-dropdown-item">Login</p>
          <p class="text fs-5 fw-bold py-2 px-4 m-0 my-dropdown-item">
            Register
          </p>
          {% else %}
          <p class="text fs-5 fw-bold py-2 px-4 m-0 my-dropdown-item">Logout</p>
          {% endif %}
        </div>
      </div>
    </div>
    <span style="font-size: calc(2rem + 1.5vw)" id="toggle">
      <span style="color: rgb(255 255 255 / 50%)">
        <i id="toggle-icon" class="fa-regular fa-sun"></i>
      </span>
    </span>
  </div>
</nav>
