<div
  style="padding: 0.25rem; max-width: 400px; margin: 0 auto"
  class="d-flex align-items-center gap-3"
>
  <div style="width: 3rem">
    <div style="cursor: pointer">
      <span style="font-size: calc(1.25rem + 1.5vw)">
        <span style="color: rgb(255 255 255 / 50%)">
          <i class="fa-solid fa-bars"></i>
        </span>
      </span>
    </div>
  </div>
  <div
    class="w-100 d-flex align-items-center"
    style="
      align-self: stretch;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    "
  >
    {% comment %} TODO fix char count {% endcomment %} {% comment %}
    <p class="text m-0 p-0">Todo my chore</p>
    {% endcomment %}
    <textarea
      class="form-control my-todo-input"
      aria-label="With textarea"
      style="max-height: 100px"
    ></textarea>
  </div>
  <div class="ms-auto d-flex align-items-center gap-3">
    <div>
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        style="width: calc(1.25rem + 1.5vw); height: calc(1.25rem + 1.5vw)"
      />
    </div>
    <div style="cursor: pointer">
      <span style="font-size: calc(1.25rem + 1.5vw)">
        <span style="color: rgb(255 255 255 / 50%)">
          <i class="fa-solid fa-trash"></i>
        </span>
      </span>
    </div>
  </div>
</div>
