<div
  style="padding: 0.25rem; max-width: 400px; margin: 0 auto"
  class="d-flex align-items-center gap-3"
>
  <div style="width: 3rem">
    <div style="visibility: hidden">
      <span style="font-size: calc(1.25rem + 1.5vw)">
        <span style="color: rgb(255 255 255 / 50%)">
          <i class="fa-solid fa-bars"></i>
        </span>
      </span>
    </div>
  </div>
  <div
    class="w-100 d-flex align-items-center"
    style="
      align-self: stretch;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    "
  >
    <textarea
      class="form-control my-todo-input"
      style="max-height: 100px"
      id="add-todo-input"
    ></textarea>
  </div>
  <div class="ms-auto d-flex align-items-center gap-3">
    <div style="cursor: pointer" id="add-todo">
      <span style="font-size: calc(1.25rem + 1.5vw)">
        <span style="color: rgb(255 255 255 / 50%)">
          <i class="fa-solid fa-plus"></i>
        </span>
      </span>
    </div>
    <div style="visibility: hidden">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        style="width: calc(1rem + 0.75vw); height: calc(1rem + 0.75vw)"
      />
    </div>
  </div>
</div>
